{%extends 'base.html'%}
{% block title %}
    Home
{% endblock %}
{% block content %}
    {% if movie %}
        <div class="container mt-5 w-75 mx-auto my-3 text-center d-flex justify-content-evenly" style="flex-wrap: wrap;">
            <div class="card bg-dark text-white m-2">
                <div class="card-body">
                    <p class="card-text display-1">{{movie.title}}</p>
                    <p class="card-text h2">{{movie.tagline}}</p>
                    <p class="h4">Rating: {{movie.vote_average}}</p>
                    <p class="my-5">{{movie.overview}}</p>
                    <p class="h5">Genre: {{movie.genres}}</p>
                </div>
            </div>
        </div>
    {%endif%}
{%endblock%}