{%extends 'base.html'%}

{% block title %}
    Home
{% endblock %}
{% block content %}
    <form method="post">
        <div class="container mt-5 w-75 mx-auto text-center">
            <h1 class="display-3 mb-5 text-white">Movie Recommender System</h1>
            {{form.hidden_tag()}}
            {{form.movie_name(class="form-control mb-3")}}
            {{form.submit(class="btn btn-outline-success")}}
        </div>
    </form>
    {% if movies %}
        <div class="container mt-5 w-75 mx-auto my-3 text-center d-flex justify-content-evenly" style="flex-wrap: wrap;">
            {%for movie in movies%}
                <a href="/desc/{{movie.id}}">
                    <div class="card bg-dark text-white m-2 movie-list-comp" style="width: 18rem;">
                        <!-- <img class="card-img-top" style=" display: block;
                        width: 100%;
                        height: 300px;" src="{{movie.poster}}" alt="Card image cap"> -->
                        <div class="card-body">
                            <p class="card-text">{{movie.title}}</p>
                        </div>
                    </div>
                </a>
            {%endfor%}
        </div>
    {%endif%}
{%endblock%}